{{- $dataAssets := .Site.Data.assets }}
{{- $defaultPath := $dataAssets.defaultPath.css }}

{{- with $dataAssets.siteShare.css }}
    {{- $.Scratch.Add "importCSSList" . }}
{{- else }}
    {{- $.Scratch.Set "importCSSList" (slice) }}
{{- end }}

{{- $section := $.Scratch.Get "assetSection" }}
{{- $sectionAsset := index $dataAssets.siteCustom $section }}
{{- $section := add ($.Scratch.Get "assetSection") "/" }}
{{- range $sectionAsset.css }}
    {{- $.Scratch.Add "importCSSList" (add $section .) }}
{{- end }}

{{- range $.Scratch.Get "importCSSList" }}
    <link rel="stylesheet" href="{{ $defaultPath }}{{ . }}" />
{{- end -}}

